<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3894842190-hvdnuinv1td0el5voq6v90g8go7u6plb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3894842190-hvdnuinv1td0el5voq6v90g8go7u6plb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>3894842190-64tn1i4578fq0uso188et12h6gt54sm4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQTOxeJEmxszJ-ocvVJUILiSR3dCXshZk</string>
	<key>GCM_SENDER_ID</key>
	<string>3894842190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.project</string>
	<key>PROJECT_ID</key>
	<string>pushnotification-fe4c0</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification-fe4c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3894842190:ios:3211fd4905fffe1fd4c41f</string>
</dict>
</plist>